@using MiraclesForMito.Models;
@{
    ViewBag.Title = "Silent Auction Dinner - 2015";
    ViewBag.IsHomePage = false;
    SiteDB db = new SiteDB();
}

<div class="row main-page-section">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1>Annual Silent Auction Dinner <br />"To Miracles" </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Please join us for an evening of art and entertainment, Miracles for Mito's 4th annual Silent Auction Dinner, to be held on Saturday, October 3rd at 6pm. This year we are proud to be moving to the Center for Visual Art at the Metropolitan State University in Denver. We will have a fully catered dinner and a cash bar, as well as the star of the show, our amazing Silent Auction! </p>
 
            <p>The <a href="http://msudenver.edu/cva/exhibitions/upcoming/anewfineline/" target="_blank"  >Exhibition</a> at Center for Visual Art will be open.</p>
            <p>
                <br />
                <br />
                <a role="button" class="btn btn-primary btn-block btn-lg active" href="https://secure.1stpaygateway.net/secure/custompayment/coloradononprofitdevelopme/2542/default.aspx?">Buy your tickets</a>
                <br />
            </p>
        </div>
        <div class="col-md-6 text-center">
            @*<img src="~/Images/Fundraiser2015/mfm.jpg" alt="" class="img-rounded"><br />*@
            <img src="~/Images/Fundraiser2015/CVA.jpg" alt="" class="img-circle">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Location</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info" role="alert">
                        <p>What: Annual Silent Auction Dinner</p>
                        <p>When: Saturday October 3 - 6:00PM</p>
                        <p>
                            Where:<address>
                                <strong>Center for Visual Art</strong><br>
                                965 Santa Fe Dr <br />
                                Denver, CO 80204
                            </address>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="~/Images/Fundraiser2015/maria_heather.jpg" alt="" class="img-circle">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6  text-center">
            <img src="~/Images/Fundraiser2015/mfm_hands.jpg" alt="" class="img-circle">
        </div>
        <div class="col-md-6  text-center">
            <img src="~/Images/Fundraiser2015/dinner2.jpg" alt="" class="img-circle">
        </div>
    </div>
</div>
