@using MiraclesForMito.Models;
@{
    ViewBag.Title = "MITO Race/Walk/Run 2015";
    ViewBag.IsHomePage = false;
    SiteDB db = new SiteDB();
}
<div class="row main-page-section">
    <div class="row">
        <div class="col-md-12">
            <h1>5th Annual Miles for MITO Race/Run/Walk</h1>
            @*<div class="jumbotron">

                </div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>Epsilon,</p>
            <p>Your support for Children’s Hospital Colorado and our Mitochondrial Families has been AMAZING!</p>
            <div class="alert alert-info" role="alert">
                <h3> Mark your Calendars!!!</h3>
                <p>What: 5K Race, 5K Fun Run/Walk or 1 mile family walk </p>
                <p>When: Thursday, May 21st</p>
                <p>Where: Meet at the Pavilion. Sign up will start at 2:45PM</p>
                <p>
                    Time: 3:00PM (Timed runners will depart at 3:00 followed by the fun runners & walkers)
                </p>
                <p>Who can attend? Epsilon associates, family & friends!!</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="~/Images/MitoWalk2015/sam.png" alt="" class="img-circle">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p>Sweet Cow is going to have their ice cream truck at the Pavilion</p>
            <div class="bg-warning">
                <p> Cost: Any donation is appreciated! $15 or more will get you a free treat from Sweet Cow!!</p>
            </div>
            <p>
                How do I make my donation? You can bring cash or a check made out to Miracles For MITO on race day or you can donate online!
            </p>
            <p>
                <br />
                <a role="button" class="btn btn-primary btn-block btn-lg active" href="https://www.sagepayments.net/eftcart/forms/donate.asp?M_id=674482817784">Donate</a>
                <br /> 
            </p>
            <p>
                Bring your receipt with you to get a ticket for the random drawing. Don’t forget, if you donate $15 or more you will get a ticket for a free treat from Sweet Cow!!
            </p>
            <ul></ul>
        </div>
        <div class="col-md-4">
            <img src="~/Images/MitoWalk2015/check.png" alt="" class="img-circle">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">PRIZES, TOO!! </h3>
                </div>
                <div class="panel-body">
                    <p>	ALL runners and walkers will receive a ticket for a random drawing for two $10 Starbucks gift cards  </p>
                    <p>Timed race winners men’s and women’s divisions</p>
                    <ul>
                        <li>1st Place: $30 Visa gift card</li>
                        <li>2nd Place $25 Visa gift card</li>
                        <li>3rd Place: $20 Visa gift card</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="~/Images/MitoWalk2015/SAJ.png" alt="" class="img-circle">
        </div>
    </div>
</div>


