@model MiraclesForMito.Models.InterestedSuccessViewModel
@{
	ViewBag.Title = "Miracles for Mito Interest Form";
	Layout = "~/Views/Shared/_BlankLayout.cshtml";
}


<div class="row">
	<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-4 clearfix">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Interest Form</h3>
			</div>
			<div class="panel-body">
				<p>Thanks @Model.InterestedUserModel.FirstName!</p>
				@*
					TODO: Switch to !
				*@
				@if (Model.SuccessfullySentEmail){
					<p>However, something went wrong.</p>
					if (Model.EmailMessage!=null && Model.SendTo!=null){
						<p> Try sending us an email directly by
							<a target="_blank" href="mailto:@Model.SendTo?body:@Html.Encode(Model.EmailMessage.Body)&subject:@Model.EmailMessage.Subject">clicking here</a>.</p>
					} else {
						<p> Try again later.</p>
					}
				} else {
					<p>We've noted your interest! We'll reach out to you shortly</p>
				}
				<a href="~/" title="Click to go to the site"><span class="glyphicon glyphicon-arrow-left"></span> Back to the site</a>
			</div>
		</div>
	</div>
</div>