@using MiraclesForMito.Models;
@{
    ViewBag.Title = "Silent Auction Dinner - 2018";
    ViewBag.IsHomePage = false;
    SiteDB db = new SiteDB();
}

@*<style>
    div.container {
    background-color:black;
    }
</style>*@

<div class="row main-page-section">
    <div class="row">
        @*<div class="col-md-6" style="padding-right:0px;padding-left:0px;" >

                <img src="~/Images/FundRaiser18/Fund2018_2.png" alt="" style="align-content:center; height:1000px;">
            </div>*@
        <div class="col-md-6">

            <img src="~/Images/FundRaiser18/Fund2018.png" alt="" style="align-content:center;">
        </div>
        <div class="col-md-6">
            <a role="button" class="btn btn-primary btn-block btn-lg active" href="https://secure.1stpaygateway.net/secure/custompayment/coloradononprofitdevelopme/5340/default.aspx?">Buy your tickets</a>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Location</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info" role="alert">
                        <p>What: Annual Silent Auction Dinner</p>
                        <p>When: Saturday April 7 2018, 6:00-10:00pm</p>
                        <p>
                            Where:<address>
                                <strong>Forney Muesum of Transportation</strong><br>
                                4303 Brighton Blvd <br />
                                Denver, CO 80216
                            </address>
                        </p>
                        <p>Dress: Get all dolled up in your best 1920's or cocktail attire. </p><br />
                        <iframe height="200" width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3066.29959874173!2d-104.97289708487791!3d39.77783140217113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c79085673793d%3A0x75ef3f858f4ca3c3!2sForney+Museum+of+Transportation!5e0!3m2!1sen!2sus!4v1448051081440" frameborder="0" allowfullscreen="" style="border:0"></iframe>
                        <img src="http://www.forneymuseum.org/images/Forney%20Logo%20Master.png" alt="">
                    </div>
                </div>
            </div>
            <a role="button" class="btn btn-primary btn-block btn-lg active" href="https://secure.1stpaygateway.net/secure/custompayment/coloradononprofitdevelopme/5340/default.aspx?">Buy your tickets</a>

        </div>
    </div>

    @*<div class="row">
        <div class="col-md-6 text-center">
            <h1>Miracles for Mito's <br/>Dinner & Silent Auction Dinner  </h1>
            <p>Join us for an evening of fun and entertainment, Miracles for Mito's 5th annual Silent Auction Dinner, to be held on Saturday, April 7th at 6:00 pm. This year we are proud to be moving to the Forney Museum of Transportation in Denver. The museum will be open for you to browse their attractions. Don't miss out on taking your own picture in one of the antique cars, we will provide props.</p>

            <p>Tickets:
                <br />
             $60 each<br/> $400 table of 8</p>
            <p> Sponsorship: <br/>
            Each sponsorship level inicludes one or more tables for 8 guests and various dditional benefits. Sponsors will receive generous recognition and brand exposure.<br/>
            $1000 - Advocate sponsor<br />
            $2500 - Partnersponsor<br />
            $5000 - Champion sponsor
            </p>

            <p>
                <br />
                <a role="button" class="btn btn-primary btn-block btn-lg active" href="https://secure.1stpaygateway.net/secure/custompayment/coloradononprofitdevelopme/5340/default.aspx?">Buy your tickets</a>
                <br />
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="~/Images/Fundraiser2016/hj.jpg" alt="" class="img-circle">
        </div>
    </div>*@

    @*<div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Location</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info" role="alert">
                        <p>What: Annual Silent Auction Dinner</p>
                        <p>When: Saturday October 1, 5:30-10:00pm</p>
                        <p>
                            Where:<address>
                                <strong>Forney Muesum of Transportation</strong><br>
                                4303 Brighton Blvd <br />
                                Denver, CO 80216
                            </address>
                        </p>
                        <p>Dress: Casual or 50’s theme </p><br />
                        <iframe height="200" width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3066.29959874173!2d-104.97289708487791!3d39.77783140217113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c79085673793d%3A0x75ef3f858f4ca3c3!2sForney+Museum+of+Transportation!5e0!3m2!1sen!2sus!4v1448051081440" frameborder="0" allowfullscreen="" style="border:0"></iframe>
                        <img src="http://www.forneymuseum.org/images/Forney%20Logo%20Master.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>*@   
    @*<div class="col-md-6 text-center">
            <img src="~/Images/Fundraiser2015/maria_heather.jpg" alt="" class="img-circle">
            <br/> <br/>
            <img src="~/Images/Fundraiser2016/natalie.jpg" alt="" class="img-circle">
        </div>*@
    @*<div class="row">
        <div class="col-md-6  text-center">
            <img src="~/Images/Fundraiser2015/mfm_hands.jpg" alt="" class="img-circle">
        </div>
        <div class="col-md-6  text-center">
            <br />
                        
            <img src="~/Images/Fundraiser2015/dinner2.jpg" alt="" class="img-circle">
        </div>
    </div>*@
</div>
