<a id="grants"></a>

<div class="row main-page-image-block">
    <div class="col-md-12 col-lg-12">
        <img src="~/Images/samantha_calvin_jacob.png" />
    </div>
</div>

<div class="row main-page-section">
    <div class="col-md-12 col-lg-10 col-md-offset-0 col-lg-offset-1">
        <h1>Miracles for Mito’s Family Assistance Program and Application</h1>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <p>
                    Miracles for Mito is granting Mito Families and Individuals Financial Assistance supporting the needs of Mito Patients in the Rocky Mountain Region. Miracles for Mito wants to make a difference in the day-to-day lives of our Mitochondrial families and patients.                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <h4>Application process</h4>
                <p>All applications will be reviewed on a quarterly basis by Miracles for Mito’s Board. The Board will grant a minimum of one financial assistance request per quarter. The amount is at the discretion of the Board. We require that receipts are submitted and received no later than 60 days after the assistance has been honored. If no receipts are submitted to Miracles for Mito, that individual will not qualify for future family assistance.</p>
            </div>
            <div class="col-md-4 col-lg-4">
                <h4>Qualifications</h4>
                <p>To qualify for financial assistance from Miracles for Mito you need to have a confirmed or probable Mitochondrial Disease diagnosis. You will need to submit receipts for your expenses used towards the assistance amount. Families can only participate in this program once a year.</p>
            </div>
            <div class="col-md-4 col-lg-4">
                <h4>Purpose of finacial assistance</h4>
                <p>This program can be used for a variety of resources that benefits a Mitochondrial Patient. Examples are supplements, equipment, home modifications, respite, cleaning service etc. This is not an all-inclusive list. We don’t accept requests that are paid by Private insurance and Medicaid.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <p>
                    Please submit your completed application together with a Referral from a Medical Professional.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row main-page-image-block">
    <div class="col-md-12 col-lg-12">
        <img src="~/Images/happy_friends.png" />
    </div>
</div>